<div class="d-flex gap-2 mb-4">

    <a
        href="{% url 'dashboard' %}"
        class="btn btn-outline-secondary">

        🏠 Dashboard

    </a>

    <a
        href="{% url 'patient_list' %}"
        class="btn btn-outline-primary">

        👥 Patients

    </a>

    <a
        href="{% url 'new_patient' %}"
        class="btn btn-outline-success">

        ➕ Add Patient

    </a>

    <a
        href="{% url 'new_prescription' %}"
        class="btn btn-outline-info">

        💊 New Prescription

    </a>

</div>